.caja{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: green;
    overflow-x: hidden;
    padding: 25px;
    transition: 0.5s;
}

.caja a{
    font-family: 'Courier New', Courier, monospace;
    padding: 16px 16px 16px 0px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}